*.iml
*.ipr
*.iws
.idea/
/config/
/modules/
/testdata/
target/
beam.ids
src/main/sql/*.jar
beampy.ini


# vscode
.project
.settings
.classpath
.factorypath
.vscode
launch.sh
snap-desktop.sh
gpt.sh
*~
